# Reach Client Service
# Managed by Ansible

[Unit]
Description=Reach Client
After=network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ _reach_home }}/.reach/venv/bin/reach
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
